# Cleaning the new customers list

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Import the Transaction dataset from the data file
new_customers = pd.read_excel('KPMG_data.xlsx', sheet_name=2)
new_customers.head()

C:\Users\Binba\AppData\Local\Temp\ipykernel_17764\3395405879.py:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  new_customers = pd.read_excel('KPMG_data.xlsx', sheet_name=2)

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,1.06,1.3250,1.65625,1.407813,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.48,0.4800,0.60000,0.510000,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,0.62,0.6200,0.62000,0.620000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,1.09,1.3625,1.36250,1.362500,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.86,0.8600,1.07500,1.075000,4,4,1.703125

In [5]:
new_customers.isnull().sum()

first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Unnamed: 16                              0
Unnamed: 17                              0
Unnamed: 18                              0
Unnamed: 19                              0
Unnamed: 20                              0
Rank                                     0
Value                                    0
dtype: int64

In [8]:
# correct the unnamed columns
# after discovering the data in excel, it is known that the unnamed columns are random and didn't represent any penifit so just drop them
new_customers.drop(labels=['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],axis=1, inplace=True)

In [9]:
new_customers.dtypes

first_name                                     object
last_name                                      object
gender                                         object
past_3_years_bike_related_purchases             int64
DOB                                    datetime64[ns]
job_title                                      object
job_industry_category                          object
wealth_segment                                 object
deceased_indicator                             object
owns_car                                       object
tenure                                          int64
address                                        object
postcode                                        int64
state                                          object
country                                        object
property_valuation                              int64
Rank                                            int64
Value                                         float64
dtype: object

In [11]:
# resolving the issues at DOB column
new_customers['DOB'].value_counts().sort_index()

1938-06-08    1
1938-06-09    1
1938-08-05    1
1938-08-30    1
1938-08-31    1
             ..
2001-10-17    1
2001-12-29    1
2002-01-04    1
2002-01-17    1
2002-02-27    1
Name: DOB, Length: 958, dtype: int64

In [16]:
# no duplicated rows
new_customers.duplicated(keep=False).sum()

0

In [17]:
# check states
new_customers.state.value_counts()

NSW    506
VIC    266
QLD    228
Name: state, dtype: int64

In [ ]:
new_customers.to_csv('new_customers_list_cleaned.csv', index=False)